.container-academic{
   width: 100%;
   height: 100vh;
   background-image: url(../imgs/fondoAcademic2.jpg);
   background-size: cover;
   background-position: center;
}




.academic-information{
    position: absolute;
    right: 35%;
    color: #113e52;
    margin-top: 20px;
}

.academic-information > ul{
    
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 2px solid #000;
    position: relative;
    
}

.academic-information>ul>div{
    margin-bottom: 50px;
}


.academic-information > ul > div > span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -12%;
    background-color: #113e52;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.academic-information > ul > div > h4, h6{
    margin-left: 50px;
    margin-top: 10px;
}

.academic-information > ul > div > span> i{
    font-size: 1.8rem;
    color: #fff;
}


.backk{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 2rem;
    color: #31b7f0;
}

@media screen and (max-width: 550px) {
    
    .container-academic{
        width: 100%;
        height: 100vh;
        background-image: url(../imgs/fondoAcademic.jpg);
        background-size: cover;
        background-position: center;
     }

    .academic-information{
        position: absolute;
        right: 15%;
        color: #064635;
       
    }

    .academic-information > ul > div > h4, h6{
        color: white;
    }
    div>h6{
        font-size: .8rem;
    }
}
