
.container-home {
    display: flex;
    height: 100vh;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.home-image{
    width: 40%;
}

.home-image > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-text {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

/* ESTATE BANDERA PARA LOS TEXTOS */

.is-false{
    color: red;
    font-size: 2rem;
}

.is-true{
    color: gold;
    font-size: 2rem;
}

/* EFECTO MAQUINA DE ESCRIBIR */
.maquina{
    float: left;
    color: white;
    position: relative;

}
.span{
    position: absolute;
    right: 0;
    width: 0;
    background-color: #0F2027;
    border-left: 2px solid white;
    animation: maquina 4s infinite alternate steps(24);
}

@keyframes maquina {
    from{
        width: 100%;
    }

    to{
        width: 0;
    }
}




.cv{
    border: 1px solid white;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.cv:hover{
    color: #2C5364;
    background-color: white;
    border: 1px solid #2C5364;
}

.home-social {
    width: 10%;
    height: 100%;
}

.home-social > ul {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
}



.home-social > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;

}



.home-social > ul > li > .fa-twitter:hover {
    color: #1DA1F2;
}

.home-social > ul > li > .fa-linkedin:hover {
    color: #2867B2;
}

.home-social > ul > li > .fa-instagram:hover {
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: #fff;
    font-weight: bolder;
    border-radius: 0.3rem;
}

.home-social > ul > li > .fa-whatsapp:hover {
    color: #25D366;
}

@media screen and (max-width: 650px) {

    .container-home{
        /* background-image: url(../imgs/fotoperfil.jpg); */
        background-size: cover;
        background-position: center;
    }

    .home-image{
        display: none;
    }

    .container-home{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-social{
        width: 90%;
    }
    .home-social>ul{
        flex-direction: row;

    }
    .home-text{
        width: 90%;
        padding-top: 100px;
        padding-bottom: 20px;
        font-size: 1.5rem;

    }
    
}