.card{
    width: 16%;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    background-color: #000;
    border: 3px solid #a69a72;
    padding-bottom: 10px;
    color: whitesmoke;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    animation: float 6s linear infinite;
}

.card:nth-child(1){
    animation-delay: 1s;
}
.card:nth-child(2){
    animation-delay: 2s;
}
.card:nth-child(3){
    animation-delay: 3s;
}
.card:nth-child(4){
    animation-delay: 4s;
}
.card:nth-child(5){
    animation-delay: 5s;
}

.card>h2{
    font-size: .9rem;
}

.card>h5{
    font-size: .7rem;
}

.card>img{
    width: 100%;
    margin: 0 auto;
    height: 150px;
    object-fit: cover;
    border-radius: 2px 2px 0 0;
   
}

.card>p{
    width: 95%;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.card>p>i{
    font-size: .8rem;
    margin-top: 10px;
    cursor: pointer;
}

.card>p>i:hover{
    color: #a69a72;
}

.cursor{
    cursor: pointer;
    font-size: .8rem;
}

.cursor:hover{
    color: #a69a72;
}

.container-links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-links>a{
    font-size: .7rem;
    text-decoration: none;
    color: #a69a72;
    border: 1px solid #a69a72;
    width: 40%;
    padding: 5px 10px;
}

.container-links>a:hover{
    color: #fff;
    background-color: #a69a72;
}

.card>h5{
    width: 80%;
}

/* KEYFRAME */

@keyframes float{
    0% {
        transform: rotate(
        0deg) translate3d(5px, 0, 0) rotate(0deg);
    }
    100%{
        transform: rotate(
        360deg) translate3d(5px, 0, 0) rotate(-360deg);
    }
}

@media screen and (max-width: 900px) {
    
    .card{
        width: 30%;
    }
}

@media screen and (max-width: 700px) {
    
    .card{
        width: 40%;
    }
}

@media screen and (max-width: 550px) {
    
    .card{
        width: 80%;
    }
}